{% extends "base.html" %}

{% block content %}
<h2>Upload file</h2>
<form method="post" enctype="multipart/form-data">
  <div class="row mt-4">
    <div class="col-4">
      {% csrf_token %}
      <label for="Choosefile">Choose file you want to upload</label>
      <input class="form-control" type="file" name="myfile" id="Choosefile">
      <label >Type search sequence</label>
      <input class="" type="text" name="searchstr" id="searchstr">
      <button type="submit" class="btn btn-primary mt-3">Upload</button>
    </div>
  </div>
</form>

{% if uploaded_file_url %}
<p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>

<p>
  You can watch progress of calculations at: <a href="/process/{{calculation_id}}/">{{ calculation_id }}</a>
</p>
{% endif %}
{% endblock content %}
